@font-face {
    font-family: msyh;
    src: url(~/assets/font/msyh.ttf);
}
@font-face {
    font-family: sabon;
    src: url(~/assets/font/SabonLTStd-Roman.otf);
}
@font-face {
    font-family: GothamMedium;
    src: url(~/assets/font/GothamMedium.ttf);
}
