@import './color.css';
@import './font.css';
@import "vue-snotify/styles/material.css";

html {
	font-size: 16px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}
body {
	font-family: helvetica, msyh;
}
*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
}
a, a:visited, a:hover, a:active {
	color: inherit;
	text-decoration: none;
}
.flex-grow {
	flex: 1;
}
h1 {
	text-shadow: 0.2rem 0.2rem var(--green);
}
button:disabled {
	cursor: no-drop;
}
.btn, .pointer {
	cursor: pointer;
}
.btn-pb-outline {
	background-color: transparent;
	border-radius: 0;
	border: 0.125rem solid #000;
}
.btn-pb-outline:hover, .btn-pb-outline-white:hover {
	color: var(--green);
	background-color: var(--pink);
}
.btn-pb-outline-white {
	background-color: transparent;
	border-radius: 0;
	color: #fff;
	border: 0.125rem solid #fff;
}
.h-3 {
	height: 3rem;
}
.bg-green {
	background-color: var(--green);
}
.bg-pink {
	background-color: var(--pink);
}
@media only screen and (max-width: 768px) {
    .px-below-md-5 {
		padding-left: 3rem;
		padding-right: 3rem;
	}
	.px-below-md-0 {
		padding-left: 0;
		padding-right: 0;
	}
}
.VueCarousel-dot {
	margin-top: -1rem !important;
}